.nne{
    display: flex;
    padding: 4px 1rem;
}
.cartItem22{
    top: 5px;
    background: black;
    padding: 2px 6px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 72%;
    position: absolute;
    right: 21px;
}