.check_page{
    background-color: #fff;
    padding: 2rem 1rem;
   
}


.main_div{
    width: 100%;
    margin: 15px 0 0;
    max-height: 100%;
    overflow: auto;
    padding: 0 5%;
    max-width: 430px;

}
.all_item{
    border-top: 1px solid #000;
    padding: 10px 0;
}

.main_item{
    margin-top: 15px;
}
.both_item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}
.fir_img{
    min-width: 90px;
    max-width: 105px;
    min-height: 110px;
}
.img_start{
    border-radius: 10px;
    width: 100%;
}
.cation_str{
    min-height: 80px;
    padding-left: 10px;
}
.cation_flx{
    flex: 15 1 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.fr_hd{
    text-align: center;
    margin: 0px;
    cursor: default;
    user-select: none;
    color: rgb(0, 0, 0);
}
.lambi{
    text-align: left;
    margin: 0px;
    cursor: default;
    user-select: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: Inter-Regular, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    letter-spacing: 0.5px;
    line-height: 28px;
}
.lmbi_str{
    text-overflow: ellipsis;
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.fbtn_st{
    display: flex;
    margin-top: 0px;
    overflow: hidden;
}
.ftbn3{
    overflow: hidden;

}
.mainbtn_str{
    font-size: 10px;
    padding: 4px 5px 2px;
    border-radius: 0px;
    font-family: BrandonTextWeb-Medium, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid rgb(227, 226, 252);
    color: rgb(115, 108, 240);
    background-color: rgb(227, 226, 252);
}
.kjkjfx{
    display: flex;
    justify-content: space-between;
}
.co{
    width: -webkit-fill-available;
}
.size_str{
    text-align: center;
    margin: 0px;
    cursor: default;
    user-select: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-family: Inter-Regular, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    letter-spacing: 0.5px;
    line-height: 22px;
    padding-top: 8px;
}
.price_tr{
    text-align: center;
    margin: 0px;
    cursor: default;
    user-select: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: Inter-Regular, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    letter-spacing: 0.5px;
    line-height: 28px;
    padding-top: 12px;
}
.btn34_stret{
    width: 80px;
    padding-top: 12px;
    color: rgb(0, 0, 0);
}
.pink_str{
    display: flex;
    flex-direction: row;
    place-content: center space-around;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 50, 120);
    color: rgb(0, 0, 0);
    opacity: 0.87;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: 0px;
    border-radius: 20px;
    line-height: 27px;
}
.minus_str{
    cursor: pointer;
height: auto;
}
.plus_str{
    cursor: pointer;
height: auto;
}
.dele_item{
    align-self: flex-start;
    padding: 5px;
    border-radius: 50%;
}
.dele_item:hover{
    background: red;
}
.dele_
.h{
    padding: 2rem 0px;

}

.impt_str2{
    margin-left: 10px;
}
.roe_mao{
    display: flex;
}
.img_secclol{
    height: 28px;
    margin-top: 10px;
    width: 28px;
}
.prima_clr{
    color: #ff3278;
margin-top: 8px;
}
.khali_pilik{
    height: 1px;
    opacity: 0.53;
    background-color: rgb(151, 151, 151);
    margin: 15px 0px;
}
.no_pading{
    padding: 0px 5px;
}
.jhy_img{
    width: 28px;
}
.hed_agi{
    font-weight: bold;

}
.moto_agyo{
    font-size: 14px;
    color: rgb(74, 74, 74);
    opacity: 0.7;
}

.p_str{
    opacity: 0.87;
    font-size: 14px;
    line-height: 1.6;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: BrandonTextWeb-Bold, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    width: calc(100% - 80px);
    color: rgb(107, 107, 107);
    font-weight: 700;
}
.tr_vl{
    opacity: 0.87;
    font-size: 14px;
    line-height: 1.6;
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: BrandonTextWeb-Bold, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    width: 80px;
    color: rgb(107, 107, 107);
    font-weight: 700;
}
.p_str2{
    opacity: 0.87;
    font-size: 14px;
    line-height: 1.6;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: BrandonTextWeb-Bold, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    width: calc(100% - 80px);
    color: rgb(107, 107, 107);
    font-weight: 700;
}
.tr_vl2{
    opacity: 0.87;
    font-size: 14px;
    line-height: 1.6;
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: BrandonTextWeb-Bold, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    width: 80px;
    color: rgb(107, 107, 107);
    font-weight: 700;
}
.lk_str{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-bottom: 0.5rem;
    padding-left: 1rem;

}
.lk_str1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}
.alg_str{
    opacity: 0.87;
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: BrandonTextWeb-Bold, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    width: calc(100% - 80px);
    color: rgb(0, 0, 0);
    font-weight: 700;
}
.vlfg{
    opacity: 0.87;
    font-size: 18px;
    line-height: 1.6;
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: BrandonTextWeb-Bold, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    width: 80px;
    color: rgb(0, 0, 0);
    font-weight: 700;
}
.chot_bt{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3rem;
}
.sdr{
    background-image: linear-gradient(103deg,#f74530,#ff2e73);
    border-radius: 31px;
    color: #fff;
    margin: 0 10px;
    padding: 12px 40px;
    border: none;
    box-shadow: none;
    font-size: 16px;
}
.p{
    display: flex;
    justify-content: space-between;
}