.igmgdtg{
    width: calc(50% - 2rem);
    margin: 1rem;
}
.dtigmgnhj{
    width: 100%;
}
.ghftytfff{
    display: flex;
    flex-flow: row wrap;
}
.hhjdghf{
    color: #000;
    font-family: BrandonTextWeb-Medium;
    text-transform: uppercase;
}
.mothd{
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
}
.prizertr{
    display: flex;
}
.fprtr{
    margin: 7px 15px 0 0;
    line-height: 30px;
    color: #ff3278;
    font-size: 22px;
    font-weight: 700;
    padding-top: 4px;
    text-align: left;
}
.fprtr1{
    margin: 7px 15px 0 0;
    line-height: 30px;
    color: rgb(74, 74, 74);
    padding-top: 4px;

    text-decoration: line-through;
    font-size: 22px;
    font-weight: 700;
}
.fprtr2{
    margin: 7px 15px 0 0;
    line-height: 30px;
    color: #fff;
    background: rgb(245, 166, 35);
    padding: 0px 10px;
    line-height: 34px;
}