html, body{
    font-family: 'BrandonTextWeb-Regular';
}
.igmgdtg{
    width: calc(50% - 2rem);
    margin: 1rem;
}
ul{
    list-style: disc;
}
.dtigmgnhj{
    width: 100%;
}
.trparaf{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.ghftytfff{
    display: flex;
    flex-flow: row wrap;
}
.hhjdghf{
    color: #000;
    font-family: BrandonTextWeb-Medium;
    text-transform: uppercase;
}
.mothd{
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
}
.prizertr{
    display: flex;
    padding-bottom: 10px;
}
.fprtr{
    margin: 7px 15px 0 0;
    line-height: 30px;
    color: #ff3278;
    font-size: 22px;
    font-weight: 700;
    padding-top: 4px;
    text-align: left;
}
.fprtr1{
    margin: 7px 15px 0 0;
    line-height: 30px;
    color: rgb(74, 74, 74);
    padding-top: 4px;

    text-decoration: line-through;
    font-size: 22px;
    font-weight: 700;
}
.fprtr2{
    margin: 7px 15px 0 0;
    line-height: 30px;
    color: #fff;
    background: rgb(245, 166, 35);
    padding: 0px 10px;
    line-height: 34px;
}
.paraf{
    color: #8e8a8a;
}
.hgjuyhbtn{
    font-size: 12px;
    padding: 4px 5px 2px 5px;
    border-radius: 0;
    font-family: BrandonTextWeb-Medium,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 5px;
    border: 1px solid #E3E2FC;
    color: #736CF0;
    background-color: #E3E2FC;
}
.sunobtn{
    display: flex;
    font-size: 13px;
    font-weight: 500;
}
.chsesze{
    color: #000;
}
.szeguide{
    color: rgb(240, 74, 126);
    margin-left: 10px;
    cursor: pointer;

}
.titleconti{
    display:flex ;
    padding-top: 10px;

}
.mskf{
    display: flex;
}
.sdfrtgbh{
    padding: 0 18px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin: 8px 5px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    color: #000;
}
.sdfrtgbh:hover{
    border: 1px solid #ffc80a;
}
.mmkk{
    border: 1px solid #ffc80a;
}
.kk.sdfrtgbh:focus {
    border: 1px solid #ffc80a;
}
.jklbt{
    display: flex;

}

.jkl2bt{
    flex-grow: 1;
    padding: 0 5px;
}
.jklbt21{
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    height: auto;
    text-align: center;
    width: 100%;
    background: linear-gradient(265deg, rgb(253, 47, 110), rgb(247, 67, 60)) rgb(255, 56, 90);
    border-radius: 52px;
    padding: 10px 0px;
}
.jklbt21:hover{
    box-shadow: rgba(120, 120, 120, 0.3) 0px 6px 8px 0px;
    color: rgb(255, 255, 255);
    transition: box-shadow 0.3s ease-in-out 0s;
}
.kuji{
    display: flex;
    justify-content: space-between;
    height: 35px;
}
.dtlddd{
    color: #4a4a4a;
    font-size: 16px;
    opacity: 0.92;
    line-height: 22px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.ulliokjs{
    height: auto;
    max-height: 500px;
}
.unoder{
    margin: 10px 0;
}
.filopf{
    line-height: 16px;
}
.kkktm{
    width: 100%;
    height: 2px;
    border: 1px solid;
    border-color: #1d1a1a;
    opacity: 0.24;
}
.shghii{
    color: #000;
    font-family: Inter-Regular,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-weight: 600;
    font-size: 12px;
    min-height: 44px;
    padding: 0 12px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #bfc0c6;
    caret-color: #ff3278;
}
.indhdhjdi{
    margin: 0 16px 20px;
    position: relative;
    display: flex;
    align-items: center;
}
.sjjsjjss{
    font-size: 12px;
    line-height: 20px;
    color: #000;
    font-family: Inter-SemiBold;
    font-weight: 600;
    margin: 0 16px 12px;
}
.hdhhgfhbtn{
    cursor: pointer;
    position: absolute;
    border: transparent;
    right: 2rem;
    font-weight: 700;
    background: transparent;
    color: #afafaf;
}
.ndkjkh{
    padding: 0 10px;
    margin: 10px;
}
.li2nd{
    font-size: 14px;
    line-height: 16px;
}
.fbrc1{
    color: #4a4a4a;
    font-size: 16px;
    opacity: 0.92;
    line-height: 22px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.fbrcli1{
    padding-left: 4px;
}
.spcf2{
    color: #4a4a4a;
    font-size: 16px;
    opacity: 0.92;
    line-height: 22px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.lispcfli{
    font-size: 14px;
    line-height: 18px;
    display: flex;
}
.dtpg{

    display: flex;
    flex-direction: row;
    background-color: white;
}
.treehed{
    margin: 1% 0px;
    width: 138%;

}