.navbar-expand-lg{
    background-image: linear-gradient(to bottom, #171A26, rgba(23, 26, 38, 0.0001));
    background-color: transparent;
}

.navbar-brand{
    width: 362px;
  }


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
}


.nav-link.mn:focus{
    color: white;
   border-bottom: 4px solid white;
}
.mn:hover{
   border-bottom:  4px solid white;
   color: white;
   -webkit-transition-duration:0.5s;
}


.img1{
    width: 100%;
    margin: 3%;
}


    .navbar-light .navbar-nav .nav-link {
        color: rgb(255 255 255 / 57%);
    }

.mn{
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    border-bottom:4px solid transparent ;
    color: #ffffffd9;
    margin: 4%;
    font-size: 18px;
    font-family: Inter-Bold,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    letter-spacing: 0px;
    line-height: 22px;
}
.lc{
    cursor: pointer;
    text-align: center;
    color: #ffffffd9;
    font-weight: 700;
    margin-top: 4%;
    margin-right: 10px;
    width: 100%;
    font-family: Inter-Bold,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    letter-spacing: 3px;
    line-height: 44px;
}
.lc:hover{
    background: #ffffff2e;
    border-radius: 8px;
}


.lp:hover{
    background: #ffffff47;
 
}
.lp{
    border-radius: 50%;
    padding: 13px;
    width: 125%;

}

.nav-link.lo{
    margin: auto;
    border-radius: 9px;
    font-size: 17px;
    color: #fdfdfdbf;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
}
.navbar-nav{
    display: contents;

}

.lo:hover{
    background: #ffffff42;

}


.jp{
    text-align: center;
}

.nn1{
    border: 2px solid rgba(255, 255, 255, 0.822);
    border-radius: 5px;
    color: white;
    transition: 0.5s;
    height: fit-content;
    font-weight: 600;
}
.nn1:hover{
    border: 2px solid rgba(255, 255, 255, 0.454);
}
.nm{
    width: -webkit-fill-available;
    margin: 0rem 0rem;
    padding: 7px;
    border-radius: 3px;
    border: 2px solid white;
}

.collapse{
    margin-left: 14%;
}
.navbarl{
    position: relative;
    right: 17%;
    display: flex;
    align-items: baseline;
}


.lim{
    width: 19%;
    position: relative;
    left: 8px;
}
#navbarNavAltMarkup{
text-align: end;
}


.nav-link.jp{
    padding: 0px;
    margin: 0px;
    width: 15.7%;

}
.nav-link{
    display: block;
    padding: 6px 1rem;
}
.cartItem{
    width: 24px;
    background: white;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    color: black;
    top: 14px;
    right: 8px;
}