.vd {
  width: 100%;
  position: absolute;
  z-index: -100;
}

.video {
  position: relative;
  bottom: 5rem;
  z-index: -100;
}

.sign1 {
  margin-top: 5%;
  padding-bottom: 8%;
}

.sign3 {
  display: grid;
  align-items: center;
}
.cpt {
  text-align: -webkit-center;
}

.clf {
  color: #f06055;
  background: linear-gradient(134.58deg, #ffdb17 -79.01%, #ff3278 103.85%);
  -webkit-text-fill-color: initial;
  -webkit-background-clip: text;
  background: white;
  padding: 11.5px 20px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 250ms ease;
  font-weight: 700;
  border-radius: 9px;
}
.ko {
  color: red;
  text-align: center;
}

#ll:hover {
  color: black;
  background-color: aliceblue;
}

.erimg {
  width: 22px;
  min-height: fit-content;
  overflow: hidden;
  margin-top: 45px;
}
.cr {
  margin-left: 7%;
}

.rt {
  width: 33%;
  text-align: center;
  cursor: default;
  margin: 0;
  color: white;
  font-size: 1.7rem;
  font-family: Inter-Medium, Helvetica Neue, Helvetica, Roboto, Arial,
    sans-serif;
  letter-spacing: 0.01px;
  line-height: 38px;
  margin: 1.8rem;
}
.signs {
  position: relative;
  top: 6rem;
}
.svg3 {
  width: 115%;
  margin-left: 18%;
}

.sign4 {
  position: relative;
  top: 2rem;
}
