.vd {
  width: 100%;
  position: absolute;
    z-index: -100;
}

.video {
  position: relative;
  bottom: 5rem;
  z-index: -100;
}

.signs{
  position: relative;
  top: 6rem;  
}
.svg3{
  width: 90%;
}

svg{
  
  width: 100%;

}