.vd {
  width: 100%;
  position: absolute;
    z-index: -100;
}

.video {
  position: relative;
  bottom: 5rem;
  z-index: -100;
}

.sign1{
  margin-top: 5%;
  padding-bottom: 8%;
}

.sign3{
 
  display: grid;
  align-items: center;
}

.rt{
  text-align: center;
  cursor: default;
  margin: 0;
  color: white;
  font-size: 30px;
  font-family: Inter-Medium,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  letter-spacing: 0.01px;
  line-height: 38px;
  margin-bottom: 25px;
}
.signs{
  position: relative;
  top: 6rem;  
}
.svg3{
  width: 115%;
  margin-left: 18%;
}

.sign4{
  position: relative;
  top: 2rem;
}
