a{
color:black;
}

.figprdct{
    display: flex;  

}
.ghjuijki{
    font-family: Poppins-Bold,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-style: italic;
    font-weight: 800;
}
.kkprdct{
    font-size: 30px;
    line-height: 30px;
}

.allvw{
    font-size: 17px;
    margin-left: 25px;
    margin-top: 5px;
 
    cursor: pointer;
}
.vfrtll{
    color: #ff3278;
}
.mnpdctig{
    width: 300px;
    min-height: fit-content;
    overflow: hidden;
    position: relative;
    margin-top: 16px;
}
.pdctimghig{
    width: 100%;
}
.mmnjhjhjkl{
    font-size: 18px;
    line-height: 22px;
    margin-top: 14px;
    color: rgb( 0 0 0 / 50%);
    line-height: 16px;
    margin-top: 15px;
    font-family: Inter-Regular,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    text-transform: lowercase;
}
.apiheadi{
    font-size: 18px;
    line-height: 22px;
    white-space: normal;
    margin-top: 10px;
    font-family: Inter-Medium,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}
.apiagi{
    display: flex;
}
.apifpr{
    margin: 12px 10px 12px 0;
    color: #262626;
    font-family: Inter-SemiBold,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    white-space: nowr;
    font-weight: 600;
}
.apifpr1{
    margin: 12px 10px 12px 0;
    color: rgb( 0 0 0 / 60%);
    font-family: Inter-SemiBold,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    white-space: nowr;
    font-weight: 600;
    text-decoration: line-through;
}
.apifpr2{
    margin: 12px 10px 12px 0;
    color: #ff3278;
    font-family: Inter-SemiBold,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    white-space: nowr;
    font-weight: 600;
}
.productj{

}
.apihgth{
    display: flex;
    margin-left: 20px;

}