.figprdct{
    display: flex;  

}
.ghjuijki{
    font-family: Poppins-Bold,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-style: italic;
}
.kkprdct{
    font-size: 30px;
    line-height: 30px;
}