.sidebar{
    transform: translatey(-120%);
    transition: all 0.4s;
    z-index: +5;
    position: absolute;
    background-color: #ffffff;
    color: #fff;
    top: 69px;
    right: 11px;
    width: 337px;
}
.sidebar li{
    list-style: none;
    padding: 1rem 2rem;
    border-bottom: solid rgba(255, 255, 255, 0.1) 1px;
}

.sidebar li:hover{
    background-color: #fff;
    color: #000;
}
.sidebar--open{
    transform: translateX(0%);
}
.errovret{
    display: flex;
    display: flex;
    width: 40px;
}
.crtrtecdft{
    padding: 1rem;
}
.yourcart{
    color: black;
    font-weight: 600;
}
.crtero{
    display: flex;
    margin: 4%;
    border-bottom: 1px solid #0000008f;
    align-items: center;
}
.prdtcrt{
    padding: 31px 15px 15px 15px;
    border-bottom: 1px solid #000;
    margin: 5%;
    display: flex;
}
.piccrt{
    min-width: 90px;
    max-width: 105px;
    min-height: 110px;
}
.iiiopicrt{
    border-radius: 10px;
    width: 100%;
}
.fcrttion{
    text-align: center;
    margin: 0px;
    cursor: default;
    user-select: none;
    color: rgb(0, 0, 0);
}
.hjyitcrt2{
    font-weight: 600;
    text-align: left;
    margin: 0px;
    cursor: default;
    user-select: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: Inter-Regular, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    letter-spacing: 0.5px;
    line-height: 28px;
}
.sizecrt{
    text-align: center;
    margin: 0px;
    cursor: default;
    user-select: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-family: Inter-Regular, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    letter-spacing: 0.5px;
    line-height: 22px;
    padding-top: 8px;
}
.bhvccrt{
    text-align: center;
    margin: 0px;
    cursor: default;
    user-select: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: Inter-Regular, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    letter-spacing: 0.5px;
    line-height: 28px;
    padding-top: 12px;
}
.hjycrtpm{
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    place-content: center space-around;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 50, 120);
    color: rgb(0, 0, 0);
    opacity: 0.87;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: 0px;
    border-radius: 20px;
    line-height: 27px;
}
.vcationcrt{
    flex: 15 1 0%;
    display: flex;
    padding: 0px 5%;
    flex-direction: column;
    align-items: flex-start;
}
.kata{
    position: absolute;
    top: 5frem;
    right: 1rem;
}