a {
  cursor: pointer;
}

.ftrcation {
  text-align: left;
  cursor: default;
  margin: 0;
  color: #cacaca;
  font-size: 14px;
  font-family: Inter-Regular, Helvetica Neue, Helvetica, Roboto, Arial,
    sans-serif;
  letter-spacing: 0.5px;
  line-height: 22px;
  width: 379px;
  padding-top: 40px;
}
.ftrimg {
  width: 45%;
}
.flexqu {
  display: flex;
  width: 100%;
  position: relative;
  height: auto;
  background-color: #000;
  flex-direction: row;
  justify-content: space-between;
  padding: 78px 80px;
}

.ftrlgoimg {
  width: 100%;
}
.flogo {
  margin-bottom: 40px;
}
.ftratg {
  text-align: left;
  cursor: default;
  opacity: 80%;
  margin: 0;
  color: white;
  font-size: 14px;
  font-family: Inter-Regular, Helvetica Neue, Helvetica, Roboto, Arial,
    sans-serif;
  letter-spacing: 0.5px;
  line-height: 22px;
}

.whlelogo {
  text-align: end;
}
.ftrrwcl {
  width: 37%;
}
.ftrlogo {
  width: 14%;
}
.ftrfrrow {
  margin-bottom: 50px;
}
.iconatgmg {
  width: 32px;
  height: 32px;
}
.ftricon {
  width: 130%;
  text-align: justify;
}
.iconatgmg {
  margin: 2%;
}
.ftrfcl > a:hover {
  color: white;
  opacity: 80%;
}
.ftrmnct {
  display: flex;
}
.e1xz8vz91,
.ftrtml {
  color: white;
  text-decoration: none;
  opacity: 67%;
  padding: 5px;
  font-size: 13px;
}
.e1xz8vz91:hover {
  color: white;
}
.ftrlt {
  background-color: #111213;
  padding: 30px 0;
  width: auto;
}

@media only screen and (max-width:375px)  {
  .flexqu{
    flex-direction: column;
    padding: 0px;
  }
  .ftrclcl{
    width: max-content;
  }
  .ftrcation{
    padding-bottom: 2rem;
  }
  .ftrlogo{
        width: 36%;

  }
  .ftrlst{
    display: none;
  }
}
@media only screen and (max-width:700px)  {
  .flexqu{
    flex-direction: column;
    padding: 0px;
  }
  .ftrclcl{
    width: max-content;
  }
  .ftrcation{
    padding-bottom: 2rem;
  }
  .ftrlogo{
        width: 36%;

  }
  .ftrlst{
    display: none;
  }
}