body{
    background: white;
}

.strenbrig{
    width:135px;
}
.str1stre{
    width: 100%;
}
li{
    list-style-type: none;
}
.hedstre{
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    display:flex ;
}
.lith3rrrr{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #262626;
    line-height: 20px;
    font-family: sans-serif;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
}
.nbrstr{
    width: 100%;
    height: 60px;
    margin-inline: auto;
    padding-inline: 50px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    transition: all 0.5s;
    align-items: baseline;
}
.loginhthju{
    display: flex;
    margin-left: auto;
    align-items: center;
}
.loginkr{
    margin: 0px 8px;
    width: 26px;
}
.lginkr{
    width: 100%;
}
.ftrclcl{
    margin: 0px 13px;
}
.mstrehd{
    position: relative;
    min-height: 60px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.fiulpo{
    width: 100%;
    height: 60px;
    margin-inline: auto;
    padding-inline: 50px;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    transition: all 0.5s;
    align-items: baseline;
}
.mstrehd:hover{
    background-color: #f7f7f7;
}
.frtgfrt{
    margin: 0;
    padding: 12px;
    font-weight: bold;
    color: #262626;
    line-height: 20px;
    font-family: sans-serif;
    font-size: 12px;
    cursor: pointer;
    text-align: left;
}
.koipl{
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    padding: 0;
    background-color: white;
    list-style-type: none;
    min-width: 145px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
}
.mstrehd:hover .koipl{
    display: block;
}
.scoll{
    width: fit-content;
    position: absolute;
    right: 1rem;
    width: fit-content;
    z-index: +100;
    height: 677px;
    overflow: hidden;
}
.emty{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
}
.ycie{
    text-align: center;
    margin: 0px;
    cursor: default;
    user-select: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: Inter-Medium, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    letter-spacing: 0px;
    line-height: 22px;
    padding: 8px 0px;
}
.lokkk{
    text-align: center;
    margin: 0px;
    cursor: default;
    user-select: none;
    color: rgb(0, 0, 0);
    padding: 8px 20%;
}
.btem{
    display: flex;
    align-self: flex-end;
    width: 100%;
    margin-top: 36%;
    padding: 0px 20px;
}
.cartbtnrmy{
    cursor: pointer;
    font-family: Inter-Medium, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    border: 1px solid transparent;
    transition: all 250ms ease 0s;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 49, 109);
    font-size: 14px;
    border-radius: 5px;
    padding: 11.5px 20px;
    font-weight: 700;
    width: 100%;
    margin-bottom: 25px;
}
.cartrmty{
    color: white;
    -webkit-text-fill-color: initial;
    background: linear-gradient(134.58deg, rgb(255, 219, 23) -79.01%, rgb(255, 50, 120) 103.85%) text;
}
.card_details{
    top: 60px;
    width: 320px;
    transition: all 0.3s ease-in-out 0s;
    z-index: 101;
    right: 0px;
    bottom: 0px;
    height: 100vh;
    color: white;
    background-color: white;
    flex-direction: column;
}
.abkr{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 0%;
    margin-bottom: 50px;
}